.outerDiv{
  border:1px solid black;
  margin: 1% auto;
  width: fit-content;
  background-color: #225560;
  color: white;
}
.buttonDiv{
  text-align: center;
  margin:2%;
}
.insideDiv{
  margin:2%;
}
