<div class="outerDiv">
  <div class="buttonDiv" >
    <button class="pure-button pure-button-primary" *ngIf="addContact === false" (click)="displayAddContact(false)">Create Contact</button>
    <button id="hide" class="pure-button" *ngIf="addContact === true" (click)="displayAddContact(true)">Hide</button>
  </div>
  <div *ngIf="addContact === true">
    <div class="insideDiv">
      <label for="name">Name: </label>
      <input id="name" type="text" [(ngModel)]="name">
    </div>
    <div class="insideDiv">
      <label for="relation">Relation: </label>
      <input id="relation" type="text" [(ngModel)]="relation">
    </div>
    <div class="insideDiv">
      <label for="phone">Phone: </label>
      <input id="phone" type="text" placeholder="XXX-XXX-XXXX" [(ngModel)]="phone">
    </div>
    <div class="insideDiv">
      <label for="email">Email: </label>
      <input id="email" type="text" placeholder="example@gmail.com" [(ngModel)]="email">
    </div>
    <div class="insideDiv">
      <label for="address">Address: </label>
      <input id="address" type="text" [(ngModel)]="address"></div>
    <div class="insideDiv">
      <label for="birthday">Birthday: </label>
      <input id="birthday" type="date" [(ngModel)]="birthday">
    </div>
    <div class="insideDiv">
      <label for="company">Company: </label>
      <input id="company" type="text" [(ngModel)]="company">
    </div>
    <div class="insideDiv">
      <label for="meetingDate">Meeting Date: </label>
      <input id="meetingDate" type="date" [(ngModel)]="meetingDate">
    </div>
    <div class="insideDiv">
      <label for="notes">Extra Notes: </label>
      <input id="notes" type="text" [(ngModel)]="notes">
    </div>
    <div class="buttonDiv">
      <button id="add" class="pure-button pure-button-primary" *ngIf="addContact === true" (click)="addToList()">Add Contact</button>
    </div>
  </div>
</div>

