<div class="contact">
  <div><strong>Name</strong>: {{contact.name}}</div>
  <div><strong>Relation</strong>: {{contact.relation}}</div>
  <div><strong>Phone</strong>: {{contact.phone}}</div>
  <div><strong>Email</strong>: {{contact.email}}</div>
  <div><strong>Address</strong>: {{contact.address}}</div>
  <div><strong>Birthday</strong>: {{contact.birthday}}</div>
  <div><strong>Company</strong>: {{contact.company}}</div>
  <div><strong>Meeting Date</strong>: {{contact.meetingDate}}</div>
  <div><strong>Notes</strong>: {{contact.notes}}</div>
</div>
